/* RESET  */
*{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body{
    background-color: rgb(51, 51, 51);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

#intoccabile{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(46, 46, 46, 0.402); 
    z-index: 0;
}

#dadiVerifyScreen{
    position: fixed;
    top: 30vh;
    right: calc(50vw - 200px);
    background-color: rgb(222, 222, 222);
    width: 400px;
    height: 300px ;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.681);
    padding: 30px;
    text-align: center;
    font-weight: bold;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 30px 4px rgba(0,0,0,0.76); 
    box-shadow: 0px 0px 30px 4px rgba(0,0,0,0.76);
}

#mailVerifyClose{
    position: absolute;
    right: 6%;
    top: 5%;
    font-size: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#mailVerifyClose:hover{
    color: rgb(177, 0, 0);
}

#dadiVerifyScreen.hidden,
#intoccabile.hidden{

    display: none;
}

#resultContainer{
    background-color: rgb(97, 115, 255);
    margin: 42px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 30px 4px rgba(0,0,0,0.76); 
    box-shadow: 0px 0px 30px 4px rgba(0,0,0,0.76);
}

#resultContainer #myNumber,
#resultContainer #pcNumber{
    max-width: 500px;
    height: 500px;
}
#resultContainer #myNumber{
    margin-right: 100px;
}

#resultContainer #pcNumber{
    margin-left: 100px;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    position: relative;
}

.formInput{
    height: 60px;
    width: auto;
    border: none;
    border-radius: 40px;
    padding: 5px 20px;
    font-size: 20px;
}

.form button{
    height: 60px;
    width: 60px;
    font-size: 30px;
    border-radius: 50%;
    border: none;
    position: absolute;
    right: 0;
    cursor: pointer;
    background-color: transparent;
}

.form button:hover{
    background-color: rgb(207, 255, 203);
}

.dado{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}


.dado img{
    width: 200px;
    height: 200px;
    position: absolute;
    filter: opacity(0%);
}

.dado img.selected{
    transition-duration: 1s;
    filter: none;
}

#start{
    width: 100px;
    height: 100px;
    font-size: 59px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    background-color: rgb(138, 255, 122);
    color: rgb(46, 46, 46);
    margin-top: 49px;
    -webkit-box-shadow: 0px 0px 30px 4px rgba(0,0,0,0.76); 
    box-shadow: 0px 0px 30px 4px rgba(0,0,0,0.76);
}

.score{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(66, 63, 240);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
    text-align: center;
}

#resultContainer.winnerP1{
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -50px 0px 39px 1px rgba(71,255,49,0.39); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -50px 0px 39px 1px rgba(71,255,49,0.39);
}

#resultContainer.winnerP2{
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 50px 0px 39px 1px rgba(71,255,49,0.39); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 50px 0px 39px 1px rgba(71,255,49,0.39);
}

#resultContainer.draw{
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 50px 42px rgba(243,255,46,0.51); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 50px 42px rgba(243,255,46,0.51);
}