/* RESET  */
*{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(51, 51, 51);
}

/* IMPOSTIAMO PAGINA  */
.appContainer{
    display: flex;
    gap: 5vw;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#intoccabile{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(46, 46, 46, 0.402); 
    z-index: 0;
}

#mailVerifyScreen{
    position: fixed;
    top: 30vh;
    right: calc(50vw - 200px);
    background-color: rgb(222, 222, 222);
    width: 400px;
    height: 300px ;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.681);
    padding: 30px;
    text-align: center;
    font-weight: bold;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 30px 4px rgba(0,0,0,0.76); 
    box-shadow: 0px 0px 30px 4px rgba(0,0,0,0.76);
}

#mailVerifyScreen.hidden,
#intoccabile.hidden{
    display: none;
}

#mailVerifyClose{
    position: absolute;
    right: 6%;
    top: 5%;
    font-size: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#mailVerifyClose:hover{
    color: rgb(177, 0, 0);
}

.formVerify,
.adminSection{
    background-color: rgb(97, 115, 255);
    width:30vw;
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 30px 4px rgba(0,0,0,0.76); 
    box-shadow: 0px 0px 30px 4px rgba(0,0,0,0.76);
}

.adminSection .formVerify{
    box-shadow: none;
}


h2{
    color: rgb(228, 252, 255);
}

#mailUser,
#addMailInput{
    height: 50px;
    border: none;
    border-radius: 80px;
    background-color: rgb(231, 239, 255);
    text-align: center;
    font-size: 25px;
    width: 100%;
}

#buttonVerify,
#addMailConferm{
    height: 50px;
    border: none;
    width: auto;
    font-size: 23px;
    border-radius: 40px;
    cursor: pointer;
    background-color: rgb(138, 255, 122);
    padding: 0 20px;
}

#mailList{
    background-color: rgb(255, 240, 240);
    font-size: 22px;
    width: 90%;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 30px;
    text-align: center;
    overflow-y: auto;
    height: 400px;
}

#mailList .mail{
    padding-bottom: 10px;
}


#mailList::-webkit-scrollbar {
    display: none;
    }

.correct{
    color: green;
}

.incorrect{
    color: red;
}

@media screen and (max-width: 800px) {
    .appContainer{
        flex-direction: column;
    }
    .formVerify,
    .adminSection{
        width: 90vw;
    }
}